@use "sass:color";

/**
 * Blood theme for anna.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

$blood: #a23;
$coal: #222;

@use "../template/settings" with (
	$backgroundColor: $coal,
	$mainFont: (Ubuntu, 'sans-serif'),
	$mainColor: #eee,
	$headingFont: (Ubuntu, 'sans-serif'),
	$headingTextShadow: 2px 2px 2px $coal,
	$heading1TextShadow: (0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15)),
	$linkColor: $blood,
	$selectionBackgroundColor: $blood,
	$selectionColor: #fff
);
@use "../template/theme";

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

$codeBackground: #23241f;

.anna p {
	font-weight: 300;
	text-shadow: 1px 1px $coal;
}

.anna h1,
.anna h2,
.anna h3,
.anna h4,
.anna h5,
.anna h6 {
	font-weight: 700;
}

.anna p code {
	background-color: $codeBackground;
	display: inline-block;
	border-radius: 7px;
}

.anna small code {
	vertical-align: baseline;
}
